@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#EDEDED];
  }
}

.bg-btn-header {
  background-image: url("/background/FondoBotonContactanosHeader.png");
  background-size: cover;
  background-position: center;
}

.bg-btn-form {
  background-image: url("/background/FondoBotonEnviarContacto.png");
  background-size: cover;
  background-position: center;
}

.bg-minimasuciedad-maximageneracion {
  background-image: url("/background/FondoMinimasuciedadMaximageneracion.webp");
  background-size: cover;
  background-position: center;
}

.bg-escalabilidad {
  background-image: url("/background/FondoEscalabilidad.webp");
  background-size: cover;
  background-position: center;
}

.bg-form {
  background-image: url("/background/BordeFondoFormularioContacto.png");
  background-size: cover;
  background-position: top center;
}

body {
  font-family: "Poppins", sans-serif;
}

.font-archivo {
  font-family: "Archivo Variable", sans-serif;
}

.marquee {
  overflow: hidden;
}

.marquee__content {
  display: flex;
  animation: scrolling 35s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
