<section class="w-90/100 mx-auto text-[#1C244B] py-10 md:py-20">
  <div class="space-y-3 text-center">
    <span class="uppercase">Funcionamiento</span>

    <h2 class="font-archivo text-4xl font-light">
      <span class="font-bold border-b-2 border-[#FF7C00]">
        Diseño inteligente
      </span>
      de Filtración y Limpieza Automatizada
    </h2>
  </div>
</section>
