---
import { impactos } from "../../data";
---

<div
  class="lg:w-1/2 mx-auto bg-impacto text-white rounded-4xl p-8 md:p-10 space-y-5 md:space-y-10 relative"
>
  <h2 class="font-archivo text-3xl md:text-4xl font-light text-center">
    Impacto
    <span class="font-bold border-b-2 border-[#FF7C00]">
      operativo y ambiental
    </span>
    comprobado
  </h2>

  <div
    class="flex flex-col md:flex-row lg:w-4/5 mx-auto items-center lg:gap-20"
  >
    <div class="[&>div]:border-b w-full [&>div]:last:border-none list-impacto">
      {
        impactos.map(({ title, description }) => (
          <div class="item-impacto">
            <div class="head-impacto py-4 flex justify-between items-center cursor-pointer">
              <h3 class="text-xl">{title}</h3>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 1024 1024"
                class="transition-transform duration-300"
              >
                <path
                  fill="currentColor"
                  d="M104.7 338.8a64 64 0 0 1 90.5 0L512 655.6l316.8-316.8a64 64 0 0 1 90.5 90.4l-362 362.1a64 64 0 0 1-90.5 0l-362.1-362a64 64 0 0 1 0-90.5"
                />
              </svg>
            </div>

            <div class="content-impacto max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
              <p class="pb-4 text-sm">{description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .item-impacto.active .content-impacto {
    max-height: 200px;
    transition: ease-in-out;
    transition-duration: 300ms;
  }

  .item-impacto.active svg {
    transform: rotate(180deg);
  }
</style>

<script>
  const items = document.querySelectorAll(".item-impacto");

  items.forEach((item) => {
    const header = item.querySelector(".head-impacto");

    header?.addEventListener("click", () => {
      const currentlyActive = document.querySelector(".item-impacto.active");
      if (currentlyActive && currentlyActive !== item) {
        currentlyActive.classList.remove("active");
      }

      // Alternar el estado actual
      item.classList.toggle("active");
    });
  });
</script>
