---
import { partnersLogos } from "../../data";
---

<section class="bg-white text-[#1C244B] font-light pb-10 pt-14 md:pb-20 md:pt-33">
  <div class="w-90/100 mx-auto">
    <h2 class="font-archivo text-4xl text-center mb-10 md:w-2/5 mx-auto">
      Componentes de última generación
      <span class="font-bold border-b-2 border-[#FF7C00]">
        respaldados por fabricantes globales
      </span>
    </h2>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-12">
      {
        partnersLogos.map((logo) => (
          <div class="md:h-16 mx-auto w-2/3 md:w-full">
            <img
              class="h-full object-contain mx-auto"
              src={logo.src}
              alt={logo.alt}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
