---
import ArrowUpRight from "../../assets/ArrowUpRight.astro";
import MenuBurger from "../../assets/MenuBurger.astro";
import { secciones } from "../../data";
import { Image } from "astro:assets";
import LogoHCT from "../../../public/img/logoHCT.png";
---

<header>
  <!-- <header class="sticky top-0 bg-white z-50"> -->
  <div class="w-90/100 mx-auto flex items-center justify-between py-4">
    <div class="w-52">
      <Image src={LogoHCT} alt="HCT logo" format="png" quality="high" />
    </div>

    <nav class="hidden md:block">
      <ul class="flex gap-5 text-[#1C244B] font-medium">
        {
          secciones.map((seccion) => (
            <li>
              <a href={seccion.slug}>{seccion.nombre}</a>
            </li>
          ))
        }
      </ul>
    </nav>

    <button
      class="bg-btn-header text-white px-4 py-2.5 rounded-full md:flex items-center gap-10 hidden"
    >
      <span>Contáctanos</span>
      <ArrowUpRight />
    </button>

    <div class="md:hidden">
      <MenuBurger />
    </div>
  </div>
</header>
