---
import { aplicaciones } from "../../data";
---

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {
      aplicaciones.map((app) => (
        <div class="swiper-slide">
          <div class="border-4 border-[#FF7C00] rounded-xl overflow-hidden relative md:h-96 h-60">
            <img class="w-full h-full object-cover" src={app.img} alt={app.title} />

            <p class="text-white text-center absolute bottom-0 w-full py-5 backdrop-blur-sm md:text-base text-sm">
              {app.title}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }
</style>

<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.mjs";

  let swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    autoplay: {
      delay: 4000,
    },
    breakpoints: {
      768: {
        slidesPerView: 2,
        spaceBetween: 60,
      },
    },
  });
</script>
